<h1>public</h1>
<%= link_to "sign_up", new_customer_registration_path %>
<h1>admin</h1>
<%= link_to "sign_in", new_admin_session_path %>
<h1>log_out</h1>
 <% if customer_signed_in? %>
  <li><%= link_to "顧客ログアウト", destroy_customer_session_path, method: :delete %></li>
 <% elsif admin_signed_in? %>
  <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
 <% end %>