<div class = "container">
  <h1 class="thanks-msg text-center mt-5 py-5"><strong>ご注文ありがとうございました！</strong></h1>
  <div class="text-center">
    <strong>
      <%= link_to "TOPへ戻る", public_item_top_path %>
    </strong>
  </div>
</div>
